body {
    background-image: radial-gradient(circle, rgb(227, 227, 227), rgb(17, 6, 49));
    background-size: 500%;
    font-family: 'Oskon', 'Times New Roman', Times, serif;
    font-size: 1.65em;
    line-height: 120%;
    color:rgb(233, 233, 233);
    padding: 10px;
}

@font-face {
    font-family: ArialNova;
    src: url(fonts/ArialNova.woff);
}

@font-face {
    font-family: Trail;
    src: url(fonts/Trail-FREE.woff);
}

@font-face {
    font-family: Oskon;
    src: url(fonts/ZTBrosOskon90s-Regular.woff);
}

h1 {
    font-size: 2em;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.6em;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 2px 2px 10px #fbfbae, 3px 3px 10px rgb(230, 243, 255);
}

img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.container {
    margin-top: 12px;
    margin-left: 12px;
    width: 100%;
}


.notes {
    font-family: 'ArialNova', Arial, Helvetica, sans-serif;
    font-size: 0.65em;
    line-height: 170%;
}

.notes a {
    text-decoration: 0.5px solid rgb(36, 36, 36) underline;
}

.theme, .date {
    font-family: 'Oskon','Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.2ch;
}

.footer {
    margin-bottom: 10px;
    font-size: 0.5em;
    position: fixed;
    bottom: 0;
    left: 1;
}

.toast {
    width: 200px;
    position: absolute;
}

.toast-body {
    font-size:1.2rem;
    color:black;
}


#starfield {
    position: absolute;
    z-index: -1;
}


/* music player */

#musicplayer{
display:grid;
grid-template-columns:20px auto;
align-items:center;
width: 200px;
 
font-size:20px;
line-height:140%;
 
background:rgb(74, 50, 86);
 
border: none;
border-radius: 10px;
 
}
 
#musictitle{
overflow: hidden;
white-space: nowrap;
display:inline-block;
width: calc(100% - 10px - 1px);
margin-left: calc(10px + 1px);
}
 
#musicpixel{
width:100%;
padding:5px;
position:relative;
 
min-height: 20px;
 
background:rgb(90, 79, 110);
 
border-right: 1px solid black;
}
 
 
.overlay {
opacity:0;
position:absolute;
top:0;
left:0;
text-align:center;
width:100%;
height:100%;
transition:0.3s ease;
 
background:rgb(197, 197, 197);
}
 
#musicplayer:hover .overlay {
opacity: 1;
transition:0.3s ease;
}
 
.playpause{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
 
.playpause:hover{
cursor:help;
}
 
#musicpixel img{
display:block;
}
 
.marquee{
display: inline-block;
padding-left: 100%;
animation: marquee 5s linear infinite;
}
 
@keyframes marquee{
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(-100%, 0);
}
}