body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /*background-image: linear-gradient(180deg, rgb(255, 236, 125), #e3c5ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;*/
}

h1 {
    font-size: 2rem;
    font-family: 'Averia Serif Libre', cursive;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

h1 a {
    color:rgb(9, 78, 39);;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
    text-shadow: none;
}

h2 {
    font-size: 1.6em;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: 0.5px solid underline;
}

a:hover {
    color: rgb(181, 0, 66);
    text-decoration: none;
    text-shadow: 2px 2px 10px #fff, 2px 2px 10px rgb(230, 243, 255);
}

p, ul, li {
    font-size: 0.95em;
}

img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.worklistings {
    display: inline;
    flex: none;
}

.siteheader {
    box-sizing: border-box;
    padding: 3%;
    margin: auto;
}

.container {
    padding-top: 3%;
}


.card {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 218, 218, 0.2);
}

.closer {
    padding: 0.5em;
}

.further {
    padding-right: 2%;
}

.indento {
    padding-top: 1%;
    padding-left: 3%;
}

.giant {
    font-size: 4em;
}

.spacer {
    padding-top: 1em;
    padding-bottom: 2em;
}

.btn {
    color: rgb(255, 255, 255);
}

/*.btn:hover {
    color: rgb(255, 140, 140);
} */

.btn:focus {
    box-shadow: none;
}

.navlist {
    box-sizing: border-box;
    float: left;
    padding: 3%;
    width: 20vw;
    font-size: 0.9em;
}

.reminder {
    background-color: rgba(255, 218, 218, 0.3);
    border-radius: 15px;
    display: inline;
    padding: 0.9%;
}

.notice {
    border: 0.5px solid rgba(255, 218, 218, 0.2);
    border-radius: 15px;
    padding: 4%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.quote {
    font-size: 1.2em;
    font-family: 'Averia Serif Libre', cursive;
}

.date {
    font-size: 0.8em;
    font-weight:700;
    font-weight:700;
}

.chinese {
    font-family: 'Noto Serif SC', serif;
}

.pfp {
    padding-right: 5%;
}




@media only screen and (max-width: 600px) {
    .container {
        width: 94vw;
    }
    p {
        font-size: 1.1em;
        text-align: justify;
    }

    ul, li {
        font-size: 1.05em;
    }

    .navlist {
        font-size: 1.5em;
    }

    .quote {
        font-size: 1.1em;
    }

    .pfp {
        padding-right: 0%;
    }

}

@media only screen and (min-width:  601px) and (max-width: 992px) {
    .container {
        width: 90vw;
    }

}