body {
    background-color: #f3f3f3;
    font-family: 'Oskon', 'Times New Roman', Times, serif;
    font-size: 1.65em;
    line-height: 120%;
    color:rgb(42, 36, 35);
    padding: 10px;
}

@font-face {
    font-family: ArialNova;
    src: url(fonts/ArialNova.woff);
}

@font-face {
    font-family: Trail;
    src: url(fonts/Trail-FREE.woff);
}

@font-face {
    font-family: Oskon;
    src: url(fonts/ZTBrosOskon90s-Regular.woff);
}

h1 {
    font-size: 2em;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.6em;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 2px 2px 10px #fbfbae, 3px 3px 10px rgb(230, 243, 255);
}

img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.container {
    margin-top: -6%;
}

.siteheader {
    font-size: 2em;
    font-weight: 400;
    padding: 1%;
}

.navitem a {
    text-decoration: 0.5px solid rgb(36, 36, 36) underline;
    }


.notes {
    font-family: 'ArialNova', Arial, Helvetica, sans-serif;
    font-size: 0.65em;
    line-height: 170%;
}

.notes a {
    text-decoration: 0.5px solid rgb(36, 36, 36) underline;
}

.theme, .date {
    font-family: 'Oskon','Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.2ch;
}

.poetry {
    line-height: 160%;
    font-family: 'ArialNova', Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
}

.toast {
    width: 200px;
    position: absolute;
}

.toast-body {
    font-size:1.2rem;
}

.chinese {
    font-family: 'Noto Serif SC', serif;
    font-size: 0.75em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 9px 14px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.3s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 9px 14px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* TAGS */

.tag {
    font-family: 'ArialNova', Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    border-radius: 50px;
    padding: 4px;
    margin: 7px;
    display: inline;
}

.tagperf {
    background-color: rgba(79, 55, 55, 0.242);
}

.tagdirect {
    background-color: rgba(111, 61, 152, 0.242);
}

.tagpoet {
    background-color: rgba(32, 70, 120, 0.242);
}

.tagfict {
    background-color: rgba(27, 101, 101, 0.242);
}

.tagastro {
    background-color: rgba(166, 150, 29, 0.242);
}

.tagcommu {
    background-color: rgba(13, 125, 56, 0.242);
}

.tagmusic {
    background-color: rgba(152, 88, 23, 0.242);
}

.tagexhib {
    background-color: rgba(128, 36, 109, 0.242);
}

#floattext1{
    color: rgba(112, 105, 99, 0.738);
    font-size: 2em;
    position: absolute;
    top: 10px;
}

#floattext2{
    color: rgba(108, 91, 91, 0.656);
    font-size: 2em;
    position: absolute;
    top: 35px;
    left: 120px;
}

@media only screen and (max-width: 767px) {
    .container {
        margin-top: 6%;
    }

    .navlist {
        text-align: right;
        font-size: 0.9em;
    }

}

@media only screen and (min-width:  768px) {
    
    .navlist {
        position: sticky;
        margin-left: 1%;
    }

    .navitem {
        display: block;
    }

}