body {
    /*background-color: #fff;*/
    /*background-image: linear-gradient(180deg, rgb(255, 236, 125), #e3c5ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;*/
    background: rgb(250, 250, 250);
    font-family: Oskon, Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
    color: rgb(28, 16, 9);
    font-size:1.5em;
    padding: 5px;
}

@font-face {
    font-family: Salma;
    src: url(fonts/SalmaproMedium-yw9ad.woff);
}

@font-face {
    font-family: ArialNova;
    src: url(fonts/ArialNova.woff);
}

@font-face {
    font-family: Trail;
    src: url(fonts/Trail-FREE.woff);
}

@font-face {
    font-family: Slang;
    src: url(fonts/slang_king.woff);
}

@font-face {
    font-family: Oskon;
    src: url(fonts/ZTBrosOskon90s-Regular.woff);
}

h1 {
    font-family: Slang, ArialNova, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

h1 a {
    color:rgb(9, 78, 39);;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
    text-shadow: none;
}

h2 {
    font-family: Slang, ArialNova, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

p {
  font-size: 1.3em;  
}

a {
    color:rgb(0, 0, 0);
    text-decoration: 0.5px solid underline;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 10px #ffffb7, 2px 2px 10px rgb(230, 243, 255);
}

li {
    margin-left:25px;

}


img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.worklistings {
    display: inline;
    flex: none;
}

.siteheader {
    font-size: 2em;
    font-weight: 400;
    box-sizing: border-box;
    padding: 3%;
    margin: auto;
}

.container {
    padding-top: 3%;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 218, 218, 0.2);
}

.closer {
    padding: 0.5em;
}

.dropdown-menu {
    background-color: transparent;
}

.further {
    padding-right: 4%;
}

.logentry {
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 7%;
}

.giant {
    color: rgb(54, 56, 57);
    font-size: 6em;
    font-family: 'Averia Serif Libre', Georgia, 'Times New Roman', Times, serif;
    line-height: 2ch;
}

.spacer {
    padding-top: 1em;
    padding-bottom: 2em;
}

.btn {
    background-color: rgb(99, 58, 90);
    border-style: none;
    border-radius: 18px;
    color:aliceblue;
}

/*.btn:hover {
    color: rgb(255, 140, 140);
} */

.btn:focus {
    box-shadow: none;
}

.nav-link, .dropdown-item {
    font-size:1.1em;
}

.navlist {
    box-sizing: border-box;
    float: left;
    padding: 3%;
    width: 20vw;
    font-size: 0.9em;
}

.caption {
    font-size: 1em;
    margin-bottom: 1%;
}

.description {
    font-family: 'ArialNova', Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    line-height: 170%;
}

.readinfo {
    font-size: 1em;
    line-height: 110%;
    margin-bottom: 1%;
}

.footnotes {
    font-size: 0.9em;
}

.tagfiction {
    background-color: rgba(246, 158, 158, 0.629);
    font-size: 0.9em;
    border-radius: 15px;
    display: inline;
    padding: 1%;
}

.tagpoetry {
    background-color: rgba(35, 117, 225, 0.398);
    font-size: 0.9em;
    border-radius: 15px;
    display: inline;
    padding: 1%;
}

.tagessay {
    background-color: rgba(225, 203, 41, 0.553);
    font-size: 0.9em;
    border-radius: 15px;
    display: inline;
    padding: 1%;
}

.taginterview {
    background-color: rgba(38, 186, 95, 0.553);
    font-size: 0.9em;
    border-radius: 15px;
    display: inline;
    padding: 1%;
}

.poetry {
    line-height: 160%;
    font-family: 'ArialNova', Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
}

.notice {
    border: 1px solid rgb(82, 15, 67);
    border-radius: 20px;
    padding: 2%;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 0.9em;
    text-align: center;
}

.quote {
    font-size: 1.1em;
    font-style: italic;
}

.date {
    /*font-family: 'Averia Serif Libre', cursive;*/
    font-size: 1em;
    font-weight:700;
    letter-spacing: 0.2ch;
    margin-bottom: 1%;
}

.chinese {
    font-family: 'Noto Serif SC', serif;
    font-size: 0.7em;
}

.pfp {
    padding-right: 5%;
}


#intro {
    padding: 8%;
}

#ethos {
    padding-left: 6%;
    padding-right: 6%;
}

#diversion {
    background-color: rgba(45, 41, 111, 0.3);
    border-radius: 15px;
    display: inline;
    padding: 5%;
}

#floattext1{
    color: rgba(112, 105, 99, 0.738);
    font-size: 2em;
    position: absolute;
    top: 10px;
}

#floattext2{
    color: rgba(108, 91, 91, 0.656);
    font-size: 2em;
    position: absolute;
    top: 35px;
    left: 120px;
}

#starsone {
    position:absolute;
    top: 35%;
    left: 75%;
    width: 40vw;
    opacity: 80%;
}

#starstwo {
    position:absolute;
    top: 5%;
    left: -12%;
    width: 30vw;
    opacity: 80%;
}

#starsthree {
    position:absolute;
    top: 235%;
    left: -2%;
    width: 30vw;
    opacity: 80%;
}

#back {
    position: absolute;
    top: 8%;
    left: 2%;


}

#back a {
    color: white;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 94vw;
    }
    p, .btn, li {
        font-size: 1.3em;
        text-align: justify;
        line-height: 140%;
    }

    .logentry, .readinfo {
        font-size: 1.05em;
    }

    .quote {
        font-size: 1.3em;
        text-align: justify;
    }

    .navlist {
        font-size: 1.5em;
    }

    .pfp {
        padding-right: 0%;
    }

    #intro {
        padding: 1.0em;
    }
    
    #ethos {
        padding: 1.0em;
    }

    #back {
    position: absolute;
    top: 1%;
    left: 2%;
    }
}

@media only screen and (min-width:  601px) {
    body {
        width: 80vw;
        margin: 0 auto;
    }

    .container {
        width: 75vw;
    }

}
