body {
    background-color: #805850;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    background-image: linear-gradient(115deg, #805850, whitesmoke);
    background-size: 300vwh;
    background-repeat: no-repeat;
    background-position: center;

}

h1 {
    font-family: 'Averia Serif Libre', cursive;
    letter-spacing: 0.2ch;
    margin-bottom: 10px;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover {
    color: white;
    text-decoration: none;
    text-shadow: none;
}

a {
    color: white;
    text-decoration: 0.5px solid underline;
}

a:hover {
    color: white;
    text-decoration: none;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

p {
    font-size: 0.9em;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-left: 4%;
    margin-right: 4%;   
}

.container {
    padding-top: 7%;
    width: 50vw;
    height: 120vh;
}

.navlist {
    box-sizing: border-box;
    float: left;
    padding: 3%;
    width: 20vw;
    font-size: 0.9em;
}

.reminder {
    background-color: rgba(255, 218, 218, 0.4);
    border-radius: 15px;
    display: inline;
    padding: 0.9%;
}

.notice {
    border: 0.5px solid rgba(255, 218, 218, 0.2);
    border-radius: 15px;
    padding: 4%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.quote {
    font-size: 0.95em;
    font-family: 'Averia Serif Libre', cursive;
}

.chinese {
    font-family: 'Noto Serif SC', serif;
}

@media screen and (max-width: 600px) {
    .container {
        width: 80vw;
    }
}

